//COLORS

$color-body: #2d3033;
$color-primary: rgb(232, 69, 69);
$color-secondary: darken($color-primary, 8);

//FONTFAMILY

$Open: 'Open Sans', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Italic: 'Cardo', serif;