//COLORS

$color-body: #8f8f8f;
$color-primary: #00e0d0;
$color-secondary: #4d3c72;

//FONTFAMILY

$Normal: 'Roboto', sans-serif;
$Heading: 'Playfair Display', sans-serif;
$Extra: 'Hammersmith One', sans-serif;

